/**
 * Numenta.com company website source code
 * MIT License (see LICENSE.txt)
 * Copyright © 2005—2016 Numenta <http://numenta.com>
 */

.columns {
  composes: layout-columns from '../../static/assets/css/theme.css';
}

.content {
  composes: layout-content from '../../static/assets/css/theme.css';
}

.aside {
  composes: mt2 from 'tachyons';
  composes: tc from 'tachyons';
  composes: layout-aside from '../../static/assets/css/theme.css';
}


.licenses {
  composes: mb4 from 'tachyons';
  composes: overflow-x-scroll from 'tachyons';
  composes: overflow-x-visible-ns from 'tachyons';
}
.licenses table {
  margin-bottom: 0;
}

.faq h4 {
  font-size: 1rem;
  margin-top: 0.75rem;
}

.icon {
  composes: color-blue-mute from '../../static/assets/css/theme.css';
  font-size: 10rem;
}
