/**
 * Numenta.org HTM Community website source code
 * MIT License (see LICENSE.txt)
 * Copyright © 2005—2016 Numenta <http://numenta.com>
 */

.form {
  composes: pa0 from 'tachyons';
  composes: mb3 from 'tachyons';
  composes: mh0 from 'tachyons';
  composes: mt0 from 'tachyons';
}
