/**
 * Numenta shared web components
 * MIT License (see LICENSE.txt)
 * Copyright © 2005—2016 Numenta <http://numenta.com>
 */

.spread {
  composes: ph3 from 'tachyons';
}

.social {
  composes: f2 from 'tachyons';
  composes: mb4 from 'tachyons';
  composes: mt3 from 'tachyons';
  composes: tc from 'tachyons';
  composes: tl-ns from 'tachyons';
}
