/**
 * Numenta.com company website source code
 * MIT License (see LICENSE.txt)
 * Copyright © 2005—2016 Numenta <http://numenta.com>
 */

.page {
  composes: mt2 from 'tachyons';
}


.columns {
  composes: layout-columns from '../static/assets/css/theme.css';
}

.aside {
  composes: tc from 'tachyons';
  composes: layout-aside from '../static/assets/css/theme.css';
}

.content {
  composes: layout-content from '../static/assets/css/theme.css';
}

.glanceHead {
  composes: center from 'tachyons';
  composes: h3 from 'tachyons';
  composes: h2-m from 'tachyons';
  composes: mv2 from 'tachyons';
  composes: w5 from 'tachyons';
  composes: w4-m from 'tachyons';
}
