/**
 * Numenta shared web components
 * MIT License (see LICENSE.txt)
 * Copyright © 2005—2016 Numenta <http://numenta.com>
 */

._disabled:disabled {
  background-color: #999 !important;
}


.default {
  composes: ba from 'tachyons';
  composes: f4 from 'tachyons';
  composes: f5-ns from 'tachyons';
  composes: ph4 from 'tachyons';
  composes: pv3 from 'tachyons';
  background-color: transparent;
  color: #1aa0db;
}

.light {
  composes: bn from 'tachyons';
  composes: f4 from 'tachyons';
  composes: pa1 from 'tachyons';
  background-color: transparent;
  color: #1aa0db;
}

.primary {
  composes: bn from 'tachyons';
  composes: f4 from 'tachyons';
  composes: f5-ns from 'tachyons';
  composes: ph4 from 'tachyons';
  composes: pv3 from 'tachyons';
  composes: white from 'tachyons';
  background-color: #1aa0db;
}

.short {
  composes: bn from 'tachyons';
  composes: f4 from 'tachyons';
  composes: f5-ns from 'tachyons';
  composes: h2 from 'tachyons';
  composes: ph3 from 'tachyons';
  composes: pv0 from 'tachyons';
  composes: relative from 'tachyons';
  composes: white from 'tachyons';
  background-color: #1aa0db;
  top: -0.1rem;
}


.button {
  composes: br2 from 'tachyons';
  composes: dim from 'tachyons';
  composes: flex-auto from 'tachyons';
  composes: ma0 from 'tachyons';
  composes: pointer from 'tachyons';
  composes: _disabled;
}
