---
htmlmin: true
isPage: true
title: HTM Studio - Terms and Conditions
---

<div class="modal-body">
  {{partial 'htm-studio/terms'}}
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>
