/**
 * Numenta shared web components
 * MIT License (see LICENSE.txt)
 * Copyright © 2005—2016 Numenta <http://numenta.com>
 */

._visited:visited {
  color: #0277bd;
}

.textlink {
  composes: dim from 'tachyons';
  composes: link from 'tachyons';
  composes: underline-hover from 'tachyons';
  composes: _visited;
  color: #0277bd;
  word-wrap: normal;
}
