._disabled:disabled {
  background-color: #999 !important;
}


.default {
  composes: bg-near-white from 'tachyons';
  composes: ba from 'tachyons';
  composes: f4 from 'tachyons';
  composes: f5-ns from 'tachyons';
  composes: ph4 from 'tachyons';
  composes: pv3 from 'tachyons';
  composes: color-blue from '../../static/assets/css/theme.css';
}

.light {
  composes: bg-white from 'tachyons';
  composes: bn from 'tachyons';
  composes: f4 from 'tachyons';
  composes: pa1 from 'tachyons';
  composes: color-blue from '../../static/assets/css/theme.css';
}

.primary {
  composes: bn from 'tachyons';
  composes: f4 from 'tachyons';
  composes: f5-ns from 'tachyons';
  composes: ph4 from 'tachyons';
  composes: pv3 from 'tachyons';
  composes: white from 'tachyons';
  composes: bg-color-blue from '../../static/assets/css/theme.css';
}

.short {
  composes: bn from 'tachyons';
  composes: f4 from 'tachyons';
  composes: f5-ns from 'tachyons';
  composes: h2 from 'tachyons';
  composes: ph3 from 'tachyons';
  composes: pv0 from 'tachyons';
  composes: relative from 'tachyons';
  composes: white from 'tachyons';
  composes: bg-color-blue from '../../static/assets/css/theme.css';
  top: -0.1rem;
}


.button {
  composes: br2 from 'tachyons';
  composes: dim from 'tachyons';
  composes: flex-auto from 'tachyons';
  composes: ma0 from 'tachyons';
  composes: pointer from 'tachyons';
  composes: _disabled;
}
