.default {
  composes: bg-white from 'tachyons';
  composes: ba from 'tachyons';
  composes: f5 from 'tachyons';
  composes: pa3 from 'tachyons';
  composes: color-blue from '../../static/assets/css/theme.css';
}

.light {
  composes: bg-white from 'tachyons';
  composes: bn from 'tachyons';
  composes: f4 from 'tachyons';
  composes: pa1 from 'tachyons';
  composes: color-blue from '../../static/assets/css/theme.css';
}

.primary {
  composes: bn from 'tachyons';
  composes: f5 from 'tachyons';
  composes: pa3 from 'tachyons';
  composes: white from 'tachyons';
  composes: bg-color-blue from '../../static/assets/css/theme.css';
}


.button {
  composes: br2 from 'tachyons';
  composes: dim from 'tachyons';
  composes: flex-auto from 'tachyons';
  composes: ma0 from 'tachyons';
  composes: pointer from 'tachyons';
}
