._prefix dt::before {
  content: 'Q: ';
  font-weight: bold;
}
._prefix dd::before {
  content: 'A: ';
  font-weight: bold;
}


.columns {
  composes: layout-columns from '../../../static/assets/css/theme.css';
}

.content {
  composes: layout-content from '../../../static/assets/css/theme.css';
}

.aside {
  composes: mt2 from 'tachyons';
  composes: tc from 'tachyons';
  composes: layout-aside from '../../../static/assets/css/theme.css';
}


.faq {
  composes: _prefix;
}

.icon {
  composes: color-blue-mute from '../../../static/assets/css/theme.css';
  font-size: 10rem;
}
