/**
 * Numenta.com company website source code
 * MIT License (see LICENSE.txt)
 * Copyright © 2005—2016 Numenta <http://numenta.com>
 */

.enabled {
  composes: bg-color-blue from '../../static/assets/css/theme.css';
}
.disabled {
  composes: bg-silver from 'tachyons' !important;
}

.primary {
  composes: bn from 'tachyons';
  composes: f4 from 'tachyons';
  composes: f5-ns from 'tachyons';
  composes: ph4 from 'tachyons';
  composes: pv3 from 'tachyons';
  composes: white from 'tachyons';
}

.buttonLink {
  composes: br2 from 'tachyons';
  composes: dib from 'tachyons';
  composes: dim from 'tachyons';
  composes: flex-auto from 'tachyons';
  composes: link from 'tachyons';
  composes: ma0 from 'tachyons';
  composes: pointer from 'tachyons';
}
