/**
 * Numenta.org HTM Community website source code
 * MIT License (see LICENSE.txt)
 * Copyright © 2005—2016 Numenta <http://numenta.com>
 */

.columns {
  composes: layout-columns from '../../static/assets/css/theme.css';
}

.content {
  composes: pr4-ns from 'tachyons';
  composes: layout-content from '../../static/assets/css/theme.css';
}

.aside {
  composes: layout-aside from '../../static/assets/css/theme.css';
}
