/* Numenta company website source code. Copyright © 2016 Numenta.*/
/* Full details in LICENSE.txt, or contact us at <http://numenta.com>.*/
/* This program is free software: you can redistribute it and/or modify it under*/
/* the terms of the GNU Affero General Public License as published by the Free*/
/* Software Foundation, either version 3 of the License, or (at your option) any*/
/* later version. This program is distributed in the hope that it will be*/
/* useful, but WITHOUT ANY WARRANTY; without even the implied warranty of*/
/* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero*/
/* General Public License for more details. You should have received a copy of*/
/* the GNU Affero General Public License along with this program. If not, see*/
/* <https://www.gnu.org/licenses/agpl.html>.*/

.tag {
  composes: br2 from 'tachyons';
  composes: fw4 from 'tachyons';
  composes: mh1 from 'tachyons';
  composes: relative from 'tachyons';
  composes: ttu from 'tachyons';
  composes: white from 'tachyons';
  composes: bg-color-blue-lite from '../../static/assets/css/theme.css';
  font-size: 0.7rem;
  letter-spacing: 0.05rem;
  padding: 0.05rem 0.35rem 0;
  top: -0.05rem;
}
