/**
 * Numenta.com company website source code
 * MIT License (see LICENSE.txt)
 * Copyright © 2005—2016 Numenta <http://numenta.com>
 */

.main {
  composes: bg-white from 'tachyons';
  composes: br--bottom from 'tachyons';
  composes: br2 from 'tachyons';
  composes: center from 'tachyons';
  composes: mt5 from 'tachyons';
  composes: mw-100 from 'tachyons';
  composes: mw7-m from 'tachyons';
  composes: mw8-l from 'tachyons';
  composes: overflow-hidden from 'tachyons';
  composes: pb4 from 'tachyons';
  composes: ph3 from 'tachyons';
  composes: ph4-l from 'tachyons';
  composes: pt3 from 'tachyons';
}
