.columns {
  composes: layout-columns from '../../../static/assets/css/theme.css';
}

.content {
  composes: layout-content from '../../../static/assets/css/theme.css';
}

.aside {
  composes: mt3 from 'tachyons';
  composes: tc from 'tachyons';
  composes: layout-aside from '../../../static/assets/css/theme.css';
}

.icon {
  composes: layout-aside-icon from '../../../static/assets/css/theme.css';
}
