._layout-dropcap > p:first-of-type::first-letter {
  background-color: #fff;
  color: #1aa0db;
  float: left;
  font-weight: 500;
  margin: 0;
  padding: 0;
  /* -s (<= mobile) */
  font-size: 6.8rem;
  line-height: 4rem;
  margin: 1.35rem 0.333rem 0 -0.1rem;
}
@media screen and (min-width: 48em) {
  ._layout-dropcap > p:first-of-type::first-letter {
    /* -ns (> mobile) */
    font-size: 5.38rem;
    line-height: 2.666rem;
    margin: 1.375rem 0.333rem 0 -0.1rem;
  }
}


.markdown {
  composes: center from 'tachyons';
  composes: lh-copy from 'tachyons';
  composes: measure from 'tachyons';
  composes: measure-wide-l from 'tachyons';
}

.date {
  composes: fw5 from 'tachyons';
  composes: lh-copy from 'tachyons';
  composes: mb2 from 'tachyons';
  composes: ttc from 'tachyons';
}

.author {
  composes: lh-copy from 'tachyons';
  composes: relative from 'tachyons';
  top: -0.6rem;
}

.image {
  composes: tc from 'tachyons';
}

.event {
  composes: bg-near-white from 'tachyons';
  composes: br2 from 'tachyons';
  composes: mt3 from 'tachyons';
  composes: pa2 from 'tachyons';
}
.event table {
  margin: 0;
  padding: 0;
}

.content {
  composes: mb4 from 'tachyons';
  composes: _layout-dropcap;
}
.content a:link {
  color: #0277bd;  /* color-blue-dark from '...theme' */
  text-decoration: none;
  transition: opacity 0.15s ease-in;
}
.content a:hover {
  opacity: 0.5;
  text-decoration: underline;
}
.content hr {
  border: 0;
  border-top: 1px solid #ddd;
}
.content img {
  border: 1px solid #ddd;
  border-radius: 0.2rem;
  box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.2);
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}
.content table {
  border: 1px solid #eee;
  border-radius: 0.25rem;
}
.content table th {
  background-color: #eee;
  padding: 0.5rem 0.666rem;
}
.content table td {
  padding: 0.5rem 0.666rem;
}

.back {
  composes: mt4 from 'tachyons';
  composes: ttc from 'tachyons';
}
