/**
 * Numenta shared web components
 * MIT License (see LICENSE.txt)
 * Copyright © 2005—2016 Numenta <http://numenta.com>
 */

._heading {
  composes: lh-title from 'tachyons';
  composes: mt1 from 'tachyons';
  composes: w-60-ns from 'tachyons';
  composes: w-100 from 'tachyons';
}


.h2 {
  composes: b--black-20 from 'tachyons';
  composes: bb from 'tachyons';
  composes: dark-gray from 'tachyons';
  composes: f3 from 'tachyons';
  composes: fw5 from 'tachyons';
  composes: mb2 from 'tachyons';
  composes: pb1 from 'tachyons';
  composes: _heading;
  border-bottom-style: dotted;
}
.h3 {
  composes: f4 from 'tachyons';
  composes: fw6 from 'tachyons';
  composes: fw5-ns from 'tachyons';
  composes: mid-gray from 'tachyons';
  composes: mb1 from 'tachyons';
  composes: _heading;
}
.h4 {
  composes: f4 from 'tachyons';
  composes: fw4 from 'tachyons';
  composes: mb1 from 'tachyons';
  composes: gray from 'tachyons';
  composes: _heading;
}
.h5 {
  composes: f5 from 'tachyons';
  composes: fw3 from 'tachyons';
  composes: silver from 'tachyons';
  composes: mb1 from 'tachyons';
  composes: _heading;
}
.h6 {
  composes: f5 from 'tachyons';
  composes: fw3 from 'tachyons';
  composes: light-silver from 'tachyons';
  composes: mb1 from 'tachyons';
  composes: _heading;
}
