.columns {
  composes: layout-columns from '../../static/assets/css/theme.css';
}

.content {
  composes: layout-content from '../../static/assets/css/theme.css';
}
.content form label {
  text-align: right;
}

.aside {
  composes: mv1 from 'tachyons';
  composes: ph3 from 'tachyons';
  composes: tc from 'tachyons';
  composes: layout-aside from '../../static/assets/css/theme.css';
}

.pad {
  composes: mt4 from 'tachyons';
}

.column {
  composes: fl from 'tachyons';
  composes: pb2 from 'tachyons';
  composes: ph4 from 'tachyons';
  composes: tc from 'tachyons';
  composes: w-50 from 'tachyons';
}

.download {
  composes: mb4 from 'tachyons';
}
