/**
 * Numenta.org HTM Community website source code
 * MIT License (see LICENSE.txt)
 * Copyright © 2005—2016 Numenta <http://numenta.com>
 */

._visited:visited {
  color: #0277bd;  /* color-blue-dark from '...theme' */
}

.textlink {
  composes: dim from 'tachyons';
  composes: link from 'tachyons';
  composes: underline-hover from 'tachyons';
  composes: color-blue-dark from '../../static/assets/css/theme.css';
  composes: _visited;
  word-wrap: normal;
}
