/**
 * Numenta.com company website source code
 * MIT License (see LICENSE.txt)
 * Copyright © 2005—2016 Numenta <http://numenta.com>
 */

.avatar {
  composes: dib from 'tachyons';
  composes: mr2 from 'tachyons';
  composes: relative from 'tachyons';
  composes: v-mid from 'tachyons';
  top: 0.3rem;
}
