/**
 * COLORS
 */

/* foreground */

.color-blue {
  color: #1aa0db;
}
.color-blue-dark {
  color: #0277bd;
}
.color-blue-lite {
  color: #03a9f4;
}

.color-blue-mute {
  color: #90adbb;
}
.color-blue-mute-dark {
  color: #455a64;
}
.color-blue-mute-gray {
  color: #607d8b;
}
.color-blue-mute-lite {
  color: #cfd8dc;
}
.color-blue-mute-white {
  color: #eff8fc;
}

.color-safe {
  color: #0f8300;
}
.color-warn {
  color: #d6ce03;
}
.color-danger {
  color: #cb0000;
}

/* background */

.bg-color-blue {
  background-color: #1aa0db;
}
.bg-color-blue-dark {
  background-color: #0277bd;
}
.bg-color-blue-lite {
  background-color: #03a9f4;
}

.bg-color-blue-mute {
  background-color: #90adbb;
}
.bg-color-blue-mute-dark {
  background-color: #455a64;
}
.bg-color-blue-mute-gray {
  background-color: #607d8b;
}
.bg-color-blue-mute-lite {
  background-color: #cfd8dc;
}
.bg-color-blue-mute-white {
  background-color: #eff8fc;
}

.bg-color-safe {
  background-color: #0f8300;
}
.bg-color-warn {
  background-color: #d6ce03;
}
.bg-color-danger {
  background-color: #cb0000;
}


/**
 * LAYOUT
 */

/* columns */

.layout-columns {
  composes: cf from 'tachyons';
  composes: w-100 from 'tachyons';
}

.layout-content {
  composes: fl from 'tachyons';
  composes: mb3 from 'tachyons';
  composes: mb1-ns from 'tachyons';
  composes: w-100 from 'tachyons';
  composes: w-60-ns from 'tachyons';
}
.layout-content h2,
.layout-content h3 {
  width: 100%;
}

.layout-aside {
  composes: fr from 'tachyons';
  composes: mb3 from 'tachyons';
  composes: mb1-ns from 'tachyons';
  composes: pl4-m from 'tachyons';
  composes: w-100 from 'tachyons';
  composes: w-40-ns from 'tachyons';
}
.layout-aside h2,
.layout-aside h3 {
  width: 100%;
}
.layout-aside-icon {
  composes: color-blue-mute;
  font-size: 10rem;
}
