/**
 * Numenta shared web components
 * MIT License (see LICENSE.txt)
 * Copyright © 2005—2016 Numenta <http://numenta.com>
 */


/**
 * Global document layout and style
 */

:global html {
  font-family: Catamaran, Helvetica, Arial, sans-serif;
  font-size: 15px;  /* base size for tachyons em's */
}
:global .body {
  background: linear-gradient(to bottom, #999, #777);
  background-attachment: fixed;
  background-repeat: no-repeat;
}
:global .anchor {  /* see: components/Anchor */
  display: block;
  height: 4rem;
  margin-top: -4rem;  /* (tachyons h3) */
  visibility: hidden;
  z-index: -9999;
}


/**
 * Layout.jsx
 */

.layout {
  composes: f4 from 'tachyons';
  composes: f5-ns from 'tachyons';
  composes: fw4 from 'tachyons';
}
