/**
 * Numenta Web Platform and Sites source code
 * MIT License (see LICENSE.txt)
 * Copyright © 2005—2017 Numenta <http://numenta.com>
 */

.columns {
  composes: layout-columns from '../../static/assets/css/theme.css';
}

.content {
  composes: pb4 from 'tachyons';
  composes: pb0-l from 'tachyons';
  composes: layout-content from '../../static/assets/css/theme.css';
}

.aside {
  composes: mt2 from 'tachyons';
  composes: pb3 from 'tachyons';
  composes: tc from 'tachyons';
  composes: layout-aside from '../../static/assets/css/theme.css';
}
