.table {
  composes: b--black-10 from 'tachyons';
  composes: bb from 'tachyons';
  composes: br from 'tachyons';
  composes: br2 from 'tachyons';
  composes: collapse from 'tachyons';
  composes: mb4 from 'tachyons';
}
