/**
 * Numenta shared web components
 * MIT License (see LICENSE.txt)
 * Copyright © 2005—2016 Numenta <http://numenta.com>
 */

.formLabel {
  composes: f5 from 'tachyons';
  composes: fl from 'tachyons';
  composes: fw6 from 'tachyons';
  composes: mb3 from 'tachyons';
  composes: mr3 from 'tachyons';
  composes: relative from 'tachyons';
  composes: v-top from 'tachyons';
  composes: w4 from 'tachyons';
  top: 0.5rem;
}
