.item {
  /* */
}

.date {
  composes: fw5 from 'tachyons';
  composes: lh-copy from 'tachyons';
  composes: mb2 from 'tachyons';
}

.title {
  composes: db from 'tachyons';
  composes: f4 from 'tachyons';
  composes: lh-title from 'tachyons';
  composes: mb1 from 'tachyons';
}

.author {
  composes: lh-copy from 'tachyons';
  composes: relative from 'tachyons';
  top: -0.5rem;
}

.image {
  composes: center from 'tachyons';
  composes: w-80 from 'tachyons';
  composes: w-auto-m from 'tachyons';
}
