/**
 * Numenta shared web components
 * MIT License (see LICENSE.txt)
 * Copyright © 2005—2016 Numenta <http://numenta.com>
 */

.iconMarker {
  /* */
}

.icon {
  composes: mr1 from 'tachyons';
  composes: relative from 'tachyons';
  color: #0277bd;
  top: -0.1rem;
}
