/**
 * Numenta.org HTM Community website source code
 * MIT License (see LICENSE.txt)
 * Copyright © 2005—2016 Numenta <http://numenta.com>
 */

._marker {
  composes: ml4 from 'tachyons';
  composes: mb2 from 'tachyons';
  composes: pl1 from 'tachyons';
}


.markerCircle {
  composes: _marker;
  list-style-type: circle;
}
.markerDecimal {
  composes: _marker;
  list-style-type: decimal;
}
.markerDisc {
  composes: _marker;
  list-style-type: disc;
}
.markerIcon {
  composes: list from 'tachyons';
}
.markerSquare {
  composes: _marker;
  list-style-type: square;
}

.copy {
  composes: lh-copy from 'tachyons';
  composes: measure from 'tachyons';
  composes: measure-wide-l from 'tachyons';
}

.li {
  /* */
}
