/**
 * Numenta.org HTM Community website source code
 * MIT License (see LICENSE.txt)
 * Copyright © 2005—2016 Numenta <http://numenta.com>
 */

.border {
  composes: br2 from 'tachyons';
  composes: collapse from 'tachyons';
}

.table {
  composes: db from 'tachyons';
  composes: mb4 from 'tachyons';
  composes: mr3 from 'tachyons';
  composes: mr0-ns from 'tachyons';
}
