.paragraph {
  composes: lh-copy from 'tachyons';
  composes: measure from 'tachyons';
  composes: measure-wide-l from 'tachyons';
  composes: mt0 from 'tachyons';
}

.lead {
  composes: layout-dropcap from '../../static/assets/css/theme.css';
}
