/**
 * Numenta.com company website source code
 * MIT License (see LICENSE.txt)
 * Copyright © 2005—2016 Numenta <http://numenta.com>
 */

/* dropcap - sync with wrappers/md/md.css */
._dropcap:first-of-type::first-letter {
  background-color: #fff;
  color: #1aa0db;
  float: left;
  font-weight: 500;
  line-height: 0.85;
  margin: 0 0 -1rem 0;
  /* -s (<= mobile) */
  font-size: 6.8rem;
  padding: 0.5rem 0.3rem 0.3rem 0;
}
@media screen and (min-width: 48em) {
  ._dropcap:first-of-type::first-letter {
    /* -ns (> mobile) */
    font-size: 5.4rem;
    padding: 0.4rem 0.3rem 0.3rem 0;
  }
}


.paragraph {
  composes: lh-copy from 'tachyons';
  composes: measure-wide from 'tachyons';
  composes: measure-m from 'tachyons';
  composes: measure-wide-l from 'tachyons';
  composes: mt0 from 'tachyons';
}

.lead {
  composes: _dropcap;
}
