._layout-dropcap:first-of-type::first-letter {
  background-color: #fff;
  color: #1aa0db;
  float: left;
  font-weight: 500;
  margin: 0;
  padding: 0;
  /* -s (<= mobile) */
  font-size: 6.8rem;
  line-height: 4rem;
  margin: 1.35rem 0.333rem 0 -0.1rem;
}
@media screen and (min-width: 48em) {
  ._layout-dropcap:first-of-type::first-letter {
    /* -ns (> mobile) */
    font-size: 5.38rem;
    line-height: 2.666rem;
    margin: 1.375rem 0.333rem 0 -0.1rem;
  }
}


.paragraph {
  composes: lh-copy from 'tachyons';
  composes: measure from 'tachyons';
  composes: measure-wide-l from 'tachyons';
  composes: mt0 from 'tachyons';
}

.lead {
  composes: _layout-dropcap;
}
