/**
 * Numenta Web Platform and Sites source code
 * MIT License (see LICENSE.txt)
 * Copyright © 2005—2017 Numenta <http://numenta.com>
 */

._visited:visited {
  color: #1aa0db;
}


.imagelink {
  composes: dim from 'tachyons';
  composes: link from 'tachyons';
  composes: _visited;
  color: #1aa0db;
}

.imagelink::after {
  content: none !important;
}
