/**
 * Numenta Web Platform and Sites source code
 * MIT License (see LICENSE.txt)
 * Copyright © 2005—2017 Numenta <http://numenta.com>
 */

.footbar {
  composes: w-100 from 'tachyons';
}

.footer {
  composes: br--bottom from 'tachyons';
  composes: br2 from 'tachyons';
  composes: center from 'tachyons';
  composes: f6 from 'tachyons';
  composes: mw-100 from 'tachyons';
  composes: mw7-m from 'tachyons';
  composes: mw8-l from 'tachyons';
  composes: pt4 from 'tachyons';
  composes: silver from 'tachyons';
  composes: tc from 'tachyons';
}

.mark {
  composes: dib from 'tachyons';
  composes: h1 from 'tachyons';
  composes: mh3 from 'tachyons';
  composes: relative from 'tachyons';
  composes: w1 from 'tachyons';
  top: 0.4rem;
}
