._play::before {
  border: 5px solid #03a9f4;
  border-radius: 50%;
  box-shadow: 0 0 8px #000;
  color: #03a9f4;
  content: '▶';
  font-size: 3.5rem;
  height: 6rem;
  line-height: 1.95;
  margin: 1.75rem 0 0 6.666rem;
  padding: 0.1rem;
  pointer-events: none;
  position: absolute;
  text-align: center;
  transition: color 0.15s ease-in;
  width: 6rem;
}
@media screen and (min-width: 48em) and (max-width: 64em) {
  ._play::before {
    margin: 1rem 0 0 4.5rem;
  }
}
._play:focus,
._play:hover {
  color: #9de0fd;
  text-decoration: none;
}
._play:hover::before {
  border: 5px solid #9de0fd;
  color: #9de0fd;
  text-decoration: none;
}


.video {
  composes: pointer from 'tachyons';
  composes: _play;
}

.caption {
  composes: f6 from 'tachyons';
  composes: fw3 from 'tachyons';
  composes: mt1 from 'tachyons';
  composes: silver from 'tachyons';
}
