/* Numenta company website source code. Copyright © 2016 Numenta.*/
/* Full details in LICENSE.txt, or contact us at <http://numenta.com>.*/
/* This program is free software: you can redistribute it and/or modify it under*/
/* the terms of the GNU Affero General Public License as published by the Free*/
/* Software Foundation, either version 3 of the License, or (at your option) any*/
/* later version. This program is distributed in the hope that it will be*/
/* useful, but WITHOUT ANY WARRANTY; without even the implied warranty of*/
/* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero*/
/* General Public License for more details. You should have received a copy of*/
/* the GNU Affero General Public License along with this program. If not, see*/
/* <https://www.gnu.org/licenses/agpl.html>.*/

._heading {
  composes: lh-title from 'tachyons';
  composes: mt1 from 'tachyons';
  composes: w-60-ns from 'tachyons';
  composes: w-100 from 'tachyons';
}


.h2 {
  composes: b--black-20 from 'tachyons';
  composes: bb from 'tachyons';
  composes: dark-gray from 'tachyons';
  composes: f3 from 'tachyons';
  composes: fw5 from 'tachyons';
  composes: mb2 from 'tachyons';
  composes: pb1 from 'tachyons';
  composes: _heading;
  border-bottom-style: dotted;
}
.h3 {
  composes: f4 from 'tachyons';
  composes: fw6 from 'tachyons';
  composes: fw5-ns from 'tachyons';
  composes: mid-gray from 'tachyons';
  composes: mb1 from 'tachyons';
  composes: _heading;
}
.h4 {
  composes: f4 from 'tachyons';
  composes: fw4 from 'tachyons';
  composes: mb1 from 'tachyons';
  composes: gray from 'tachyons';
  composes: _heading;
}
.h5 {
  composes: f5 from 'tachyons';
  composes: fw3 from 'tachyons';
  composes: silver from 'tachyons';
  composes: mb1 from 'tachyons';
  composes: _heading;
}
.h6 {
  composes: f5 from 'tachyons';
  composes: fw3 from 'tachyons';
  composes: light-silver from 'tachyons';
  composes: mb1 from 'tachyons';
  composes: _heading;
}
