/**
 * Numenta shared web components
 * MIT License (see LICENSE.txt)
 * Copyright © 2005—2016 Numenta <http://numenta.com>
 */

.tag {
  composes: br2 from 'tachyons';
  composes: fw4 from 'tachyons';
  composes: mh1 from 'tachyons';
  composes: relative from 'tachyons';
  composes: ttu from 'tachyons';
  composes: white from 'tachyons';
  composes: bg-color-blue-lite from '../../static/assets/css/theme.css';
  font-size: 0.7rem;
  letter-spacing: 0.05rem;
  padding: 0.05rem 0.35rem 0;
  top: -0.05rem;
}
