/**
 * Numenta.org HTM Community website source code
 * MIT License (see LICENSE.txt)
 * Copyright © 2005—2016 Numenta <http://numenta.com>
 */

.border {
  composes: b--black-10 from 'tachyons';
  composes: ba from 'tachyons';
}

.tableTitle {
  composes: bg-near-white from 'tachyons';
  composes: pa2 from 'tachyons';
  composes: v-top from 'tachyons';
}
