/**
 * Numenta shared web components
 * MIT License (see LICENSE.txt)
 * Copyright © 2005—2016 Numenta <http://numenta.com>
 */

._rules dl > dt,
._rules dl > dd {
  border-top: 1px solid #ddd;
}


.glance {
  composes: bg-near-white from 'tachyons';
  composes: br2 from 'tachyons';
  composes: f5 from 'tachyons';
  composes: f6-ns from 'tachyons';
  composes: mb2 from 'tachyons';
  composes: pb3 from 'tachyons';
  composes: ph3 from 'tachyons';
  composes: pt2 from 'tachyons';
  composes: tl from 'tachyons';
  composes: _rules;
}

.head {
  composes: center from 'tachyons';
  composes: h3 from 'tachyons';
  composes: h2-m from 'tachyons';
  composes: mv2 from 'tachyons';
  composes: w5 from 'tachyons';
  composes: w4-m from 'tachyons';
}
