/**
 * Numenta.org HTM Community website source code
 * MIT License (see LICENSE.txt)
 * Copyright © 2005—2016 Numenta <http://numenta.com>
 */

/* dropcap - sync with component/Paragraph/index.css */
._dropcap > div > div > p:first-of-type::first-letter {
  background-color: #fff;
  color: #0277bd;
  float: left;
  font-weight: 500;
  line-height: 0.85;
  margin: 0 0 -1rem 0;
  /* -s (<= mobile) */
  font-size: 6.8rem;
  padding: 0.5rem 0.3rem 0.3rem 0;
}
@media screen and (min-width: 48em) {
  ._dropcap > div > div > p:first-of-type::first-letter {
    /* -ns (> mobile) */
    font-size: 5.4rem;
    padding: 0.4rem 0.3rem 0.3rem 0;
  }
}


.md {
  composes: center from 'tachyons';
  composes: lh-copy from 'tachyons';
  composes: measure from 'tachyons';
  composes: measure-wide-l from 'tachyons';
}

.date {
  composes: fw5 from 'tachyons';
  composes: lh-copy from 'tachyons';
  composes: mb2 from 'tachyons';
  composes: ttc from 'tachyons';
}

.author {
  composes: lh-copy from 'tachyons';
  composes: relative from 'tachyons';
  top: -0.6rem;
}

.media {
  composes: tc from 'tachyons';
}

.event {
  composes: bg-near-white from 'tachyons';
  composes: br2 from 'tachyons';
  composes: mt3 from 'tachyons';
  composes: pa2 from 'tachyons';
}
.event table {
  margin: 0;
  padding: 0;
}

.content {
  composes: _dropcap;
}

.back {
  composes: mt4 from 'tachyons';
  composes: ttc from 'tachyons';
}
